
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 87.5%; // 1rem = 14px;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1382px;

    h2  {
        margin: 2rem 0;
    }

    .row {
        width: 100%;
        line-height: 2.2rem;
        font-size: 1rem; 
    }
    
    .item {
        display: inline-block;
        padding: 0 1rem 0 0;
    }
    
    .item-left {
        float: right;
        position: relative;
        .searchIcon {
        position: absolute;
        right: 195px;
        top: 3px;
        fill: #B1BEC4;
        }
    }

    input {
        cursor: pointer;
    }

    button {
        font-size: 1rem;
        border: none;
        border-radius: 1.8rem;
        padding: 8px 21px;
        background: #01B9D1;
        color: #fff;
        margin-left: 1rem;
        cursor: pointer;
        .plasIcon {
            padding-right: 5px;
        }
    }

    // T A B L I C A
    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        th, td {
            padding: 1rem 0 1rem 0;
            width: 10%;
            border-bottom: 1px solid #B1BEC4;
            &:first-child {
                width: 3%;
            }
        }
    }
}