
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 87.5%; // 1rem = 14px;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1382px;

    h2  {
        margin: 2rem 0;
    }

    .row {
        width: 100%;
        line-height: 2.2rem;
        font-size: 1rem; 
    }
    
    .item {
        display: inline-block;
        padding: 0 1rem 0 0;
    }
    
    .item-left {
        float: right;
        position: relative;

        /* BOTTOM BARS ================================= */
        .bar {
             position:relative; 
             display:block; 
             width:184px; 
             &:before {
                content:'';
                height:1px; 
                width:0;
                bottom:1px; 
                position:absolute;
                background: #B1BEC4;
                transition:0.2s ease all; 
                -moz-transition:0.2s ease all; 
                -webkit-transition:0.2s ease all;
                left: 0;
             }
        }

        /* active state */
        input:focus ~ .bar:before {
                width:100%;
        }

        input {
            border: none;
            background: transparent;
            outline: none;
            padding: 8px;
        }

        .searchIcon {
            position: absolute;
            right: 160px;
            top: 3px;
            fill: #B1BEC4;
            cursor: pointer;
            z-index: -1;
        }
    }

    input {
        cursor: pointer;
    }

    button {
        font-size: 1rem;
        border: none;
        border-radius: 1.8rem;
        padding: 8px 21px;
        background: #01B9D1;
        color: #fff;
        margin-left: 1rem;
        cursor: pointer;
        outline: none;
        .plasIcon {
            padding-right: 5px;
        }
    }

    // T A B L I C A
    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        th, td {
            padding: 1rem 0 1rem 0;
            width: 10%;
            border-bottom: 1px solid #B1BEC4;
            &:first-child {
                width: 3%;
            }
        }
    }
}